@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;

}

/* Header and Navbar added */

#header{
    padding: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}
.nav-items{
    list-style: none;
    display: flex;
}
.nav-item a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A ;
}

.title{
    color: #3A3A3A;
    font-weight: 750;
}