@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;

}

/* Header and Navbar added */

#header{
    padding: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}
.nav-items{
    list-style: none;
    display: flex;
}
.nav-item a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A ;
}

.title{
    color: #3A3A3A;
    font-weight: 700;
}

/* Banner section */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    padding: 0 180px;
}

.banner-details{
    margin-left: 150px;
    
}
.section-title{
    font-size: 50px;
    margin-right: 300px;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.section-description{
    color: #3A3A3A;
    padding-right: 100px;
    margin-bottom: 20px;
    font-weight: 450;
}
.btn-primary{
    padding: 10px 15px;
    font-size: 18px;
    align-items: center;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    background-color: #E02C6D;
    color: #FFFFFF;
}

.banner-imgs{
    margin-right: 100px;
    
    
}
.banner-img{
    margin-top: 50px;
    width: 400px;
}